.DS_Store
logs
project/project
project/target
target
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.swp
.sbtserver/
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
conf/application.dev.docker.conf
conf/application.dev.integration.conf
conf/application.dev.localhost.conf
.ensime*
